.recipe {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  background: var(--peach-nav);
  padding: 40px;
  box-sizing: border-box;
}
.recipe .page-title {
  margin: 10px 30px;
}
.recipe ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  color: rgb(95, 95, 95);
  vertical-align: text-bottom;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.recipe .method {
  text-align: left;
  line-height: 1.5em;
}
