.navbar {
  padding: 20px 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-right: 8px double var(--mustard);
  border-left: 8px double var(--mustard);

  border-top: 4px solid var(--mustard);
  border-bottom: 1px solid var(--mustard);
}
.navbar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 900px; */
  margin: auto;
  color: var(--mustard);
}
.navbar .subtitle {
  font-size: 0.8em;
  padding-left: 20px;
}
.navbar .search-field {
  margin: auto;
}
.navbar a.brand {
  /* Big margin between items */
  font-family: "Cinzel", serif;
  /* margin-right: auto; */
  color: var(--mustard);
  text-decoration: none;
}
.navbar a.brand:hover {
  color: var(--honey);
}
.navbar a:last-child {
  display: flex;
  align-items: center;
  padding: 10px;

  font-family: "Pacifico", cursive;
  color: var(--mustard);

  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;

  border: 2px solid var(--mustard);

  border-radius: 20%;
}
.navbar a:last-child:hover {
  background: var(--mustard);
  color: #3d3426;
  border: 2px solid var(--mustard);
}

.navbar .create-link:hover {
  text-decoration: none;
}
