.theme-selector {
  display: flex;

  max-width: 96px;
  max-height: 20px;

  margin-top: 0px;

  border: 1px solid var(--mustard);
}

.theme-buttons div {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  border: 2px solid var(--mustard);
}
.mode-toggle {
  margin-right: auto;
  align-items: center;
}
.mode-toggle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
