.update {
  margin: 40px auto;
  max-width: 600px;
  color: floralwhite;
}
.update .page-title {
  color: floralwhite;
}
.update input,
.update textarea {
  margin-top: 8px;
  margin-bottom: 16px;
}
.update p {
  margin-top: 10px;
  font-size: 0.8em;
}

.title-time {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: end;
  gap: 40px;
}
.update .btn {
  border: 0;
  border-radius: 4px;
  background: var(--pale-yellow);
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
  padding: 8px 20px;
  display: block;
  font-size: 0.8em;
  text-align: center;
}
.current-ing-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.remove-ing {
  padding: 6px;
  margin: 8px;

  background: var(--pale-yellow);
  color: var(--dark-text);
  font-size: 0.7em;

  border: 2px solid var(--pale-yellow);
  border-radius: 4px;

  cursor: pointer;
  text-decoration: none;
}
.remove-ing:hover {
  background: pink;
  border: 2px solid rgb(253, 109, 121);
}

.new-ing {
  display: flex;
  align-items: center;
}
.update .add {
  margin-bottom: 26px;
  margin-left: 6px;
}
