/* brings styles to bottom of page: min-height */
.App {
  min-height: 100%;
}
.App.dark {
  background: var(--serious-plum);
}
.App .centering-app {
  display: flex;
  justify-content: center;
}
.App .side-by-side {
  display: flex;
}
